<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="latio.ibeacon.sdk.example" >

    <!-- Optional. The permission fix Android bug 67272 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="latio.ibeacon.sdk.example.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="latio.ibeacon.sdk.api"
                android:value="854ccc30b4ae3f7cc4650e53c7f795984951612b"/>
    </application>

</manifest>
